In [10]:
import pandas as pd
import os

In [12]:
input_data_dir = os.getcwd()

In [241]:

sf_df = pd.read_csv(input_data_dir+'San Francisco COVID-19_Cases_Summarized_by_Age_Group.csv')

age_groups = set(sf_df['Age Group'].values)

count = 0
for age_group in age_groups:
    
    sf_fd_age_group = sf_df[sf_df['Age Group'] == age_group]
    sf_fd_age_group = sf_fd_age_group.drop(['Age Group','Last Updated at'],axis=1)
    sf_fd_age_group = sf_fd_age_group.rename(columns={'New Confirmed Cases':'I'+age_group,\
                                                      'Cumulative Confirmed Cases':'CI'+age_group})
    print(len(sf_fd_age_group))
    if(count==0):
        sf_df_final = sf_fd_age_group
        count+=1
    else:
        sf_df_final = sf_df_final.merge(sf_fd_age_group,on='Specimen Collection Date', how='outer')

sf_df_final['Specimen Collection Date']= pd.to_datetime(sf_df_final['Specimen Collection Date']) 

sf_df_final = sf_df_final.sort_values(by='Specimen Collection Date')

sf_df_final.to_csv(input_data_dir+'San Francisco Age wise data1.csv')

len(sf_df_final)

157
177
181
174
182
180
176
185

185

In [18]:
CA_df = pd.read_csv(input_data_dir + "\California_Agewise_Data.csv")

In [19]:
CA_df = CA_df.replace(to_replace="65 and Older",value="65+")

In [21]:
CA_df['date']= pd.to_datetime(CA_df['date']) 
age_groups = list(set(CA_df['age_group'].values))
age_groups.remove("Missing")
age_groups.remove("Unknown")
age_groups.sort()

In [22]:
age_groups

['0-17', '18-49', '50-64', '65+']

In [23]:
count = 0
for age_group in age_groups:
    
    CA_df_age_group = CA_df[CA_df['age_group'] == age_group]
    CA_df_age_group = CA_df_age_group.drop(['age_group','deaths','case_percent','deaths_percent','ca_percent'],axis=1)
    CA_df_age_group = CA_df_age_group.rename(columns={'totalpositive':'Infected_'+age_group})
    CA_df_age_group.set_index('date', inplace=True)
    
    print(age_group,len(CA_df_age_group))
    if(count==0):
        CA_df_final = CA_df_age_group
        count+=1
    else:
        CA_df_final = CA_df_final.merge(CA_df_age_group,on='date', how='outer')



CA_df_final = CA_df_final.sort_values(by='date')
CA_df_final.to_csv(input_data_dir+'California Agewise processed data.csv')
CA_df_final = CA_df_final.reset_index().drop(['date'],axis=1)

0-17 337
18-49 337
50-64 337
65+ 337

### Factor Calculation

In [232]:
CA_df_final

     Infected_0-17  Infected_50-64  Infected_65+  Infected_18-49
0              120            2879          2342            5302
1              137            3253          2660            5917
2              160            3653          2966            6610
3              173            3884          3129            7099
4              197            4344          3516            7753
..             ...             ...           ...             ...
219         103975          181808        101922          576051
220         105005          183085        102592          580281
221         105792          184005        103063          583469
222         106693          185315        103745          588029
223         107582          186603        104403          592114

[224 rows x 4 columns]

In [233]:
CA_infected = CA_df_final.sum(axis=1)
CA_infected

0       10643
1       11967
2       13389
3       14285
4       15810
        ...
219    963756
220    970963
221    976329
222    983782
223    990702
Length: 224, dtype: int64

In [234]:
pop_California = 39512223
susceptible = pop_California - CA_infected
susceptible

0      39501580
1      39500256
2      39498834
3      39497938
4      39496413
         ...
219    38548467
220    38541260
221    38535894
222    38528441
223    38521521
Length: 224, dtype: int64

In [235]:
CA_test_df = pd.read_csv(input_data_dir + "California_statewide_testing.csv")

In [236]:
CA_test_df = CA_test_df.rolling(window = 7).mean()

CA_test_series = CA_test_df[-len(susceptible):].reset_index().drop(columns = ['index'])['tested']

In [237]:
CA_test_series

0      2.954457e+04
1      4.218671e+04
2      5.506486e+04
3      6.969943e+04
4      8.605200e+04
           ...
219    1.930299e+07
220    1.944670e+07
221    1.959237e+07
222    1.974110e+07
223    1.989477e+07
Name: tested, Length: 224, dtype: float64

In [238]:
susceptible/CA_test_series

0      1337.016517
1       936.319803
2       717.314746
3       566.689553
4       458.983092
          ...
219       1.997021
220       1.981892
221       1.966882
222       1.951687
223       1.936263
Length: 224, dtype: float64